<table>
  <tr id="table-headers">
    <th>Id:</th>
    <th>Status:</th>
    <th>Created:</th>
    <th>User:</th>
    <th></th>
    <th></th>
  </tr>

  <% @orders.each do |order| %>
  <tr>
    <td> <%= order.id %>  </td>
    <td> <%= order.status %>  </td>
    <td> <%= order.created_at %> </td>
    <td> <%= order.user_id %>  </td>

      <% order.items.each do |item| %>
    <td><span class="item-details"> <%= item.name %> <br>
    <%= number_to_currency(item.price) %> <br>
    Qnty: <%= item.inventory_count %> <br>
    <%= item.description %></span> </td>
      <% end %>

    <td> Total Price: <%= number_to_currency(order.total_price) %> </td>
    <td> Total Quantity: <%= order.total_quantity %> </td>

  </tr>
  <% end %>
</table>
