<table>
  <tr id="table-headers">
    <th>order id</th>
    <th>User</th>
    <th>Status</th>
    <th>Total Price</th>
    <th>Qnty</th>
    <th>Created</th>
    <th>Items</th>
  </tr>


  <tr>
  <% @orders.each do |order| %>
    <td class="order"> <%= order.id %>  </td>
    <td class="order", id= "name"> <%= order.user.name %> (id: <%= order.user_id %>) </td>
    <td class="order"> <%= order.status %>  </td>
    <td class="total-price"> <%= number_to_currency(order.total_price) %> </td>
    <td class="total-qnty"> <%= order.total_quantity %> </td>
    <td class="order"> <%= order.created_at.strftime('%D') %> </td>

      <% order.items.each do |item| %>
    <td class="item-details">
      <span> <%= item.name %> <br>
    <%= number_to_currency(item.price) %> <br>
    Qnty: <%= item.inventory_count %> <br>
    <%# item.description %></span>
    </td>
      <% end %>


  </tr>
  <% end %>
</table>
