<section class="register-form main-container">
  <h2 class="page-title"> Create Account </h2>
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this item from being saved:</h2>
        <% @user.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    <% end %>
    <div class="info-box">
      <%= f.label :full_name %>
      <%= f.text_field :name, placeholder: "Shelly Marsh" %>
    </div>
    <div class="info-box">
      <%= f.label :address %>
      <%= f.text_field :address, placeholder: "Stan's House" %>
    </div>
    <div class="address-info">
      <span class="info-box">
        <%= f.label :city %>
        <%= f.text_field :city, placeholder: "South Park"%>
      </span>
      <span class="info-box">
        <%= f.label :state %>
        <%= f.text_field :state, class: "state-field", placeholder: "CO"%>
      </span>
      <span class="info-box">
        <%= f.label :zip_code %>
        <%= f.number_field :zip_code, class: "zipcode-field", placeholder: "01234" %>
      </span>
    </div>
    <div class="info-box">
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: "shutuptwerp@yahoo.com" %>
    </div>
    <div class="info-box">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="info-box">
      <%= f.label :confirm %>
      <%= f.password_field :password_confirmation, id: "confirm-field" %>
    </div>
    <span class="form-button">
      <%= f.submit %>
    </span>
  <% end %>
</section>
