<%= form_for @user do |f| %>
  <div class="info-box">
    <%= f.label :full_name %>
    <%= f.text_field :name, id: "name-field", placeholder: "Shelly Marsh" %>
  </div>

  <div class="info-box">
    <div>
      <%= f.label :address %>
      <%= f.text_field :address, id: "address-field", placeholder: "Stan's House" %>
    </div>
    <span>
      <%= f.label :city %>
      <%= f.text_field :city, id: "city-field", placeholder: "South Park"%>
    </span>
    <span>
      <%= f.label :state %>
      <%= f.text_field :state, id: "state-field", placeholder: "CO"%>
    </span>
    <div>
      <%= f.label :zip_code %>
      <%= f.number_field :zip_code, id: "zipcode-field", placeholder: "01234" %>
    </div>
  </div>

  <div class="info-box">
    <%= f.label :email %>
    <%= f.text_field :email, id: "email-field", placeholder: "shutuptwerp@yahoo.com" %>
  </div>

  <div class="info-box">
    <div>
      <%= f.label :password %>
      <%= f.password_field :password, id: "password-field" %>
    </div>
    <div>
      <%= f.label :confirm %>
      <%= f.password_field :password_confirmation, id: "confirm-field" %>
    </div>
  </div>


  <%= f.submit %>
<% end %>
