<h1> Your Orders </h1>

<table>
  <tr id="headers">
    <th>Order</th>
    <th>Qnty</th>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>created</th>
    <th>updated</th>
  </tr>

  <% current_user.orders.each do |order| %>
  <tr class="order-info" id="order-info-<%= order.id %>">

    <tr><td> <%= link_to "#{order.id}", "#", class:"order-id" %> </td></tr>

      <% order.order_items.each do |order_item| %>
        <tr class="order-details">
          <td></td>
          <td><%= order_item.item_quantity %></td>
          <td><%= order_item.item.name %></td>
          <td><%= number_to_currency(order_item.item_price) %></td>
          <td class="order-description"><em><%= order_item.item.description %></em></td>
          <td><%= order.created_at.strftime('%D') %></td>
          <td><%= order.updated_at.strftime('%D') %></td>
        </tr>
      <% end %>

<% end %>


</table>
