<h1>Your Shopping Cart</h1>
<div class="cart">

  <% if @cart.count_all == 0 %>
  You have no items in your cart

  <% elsif @cart.items %>

    <ul id="all-items-box">
      <% @cart.items.each do |item| %>

        <div class="item-list">
          <%= @cart.quantity(item.id) %>
          <img src="<%= item.img_url %>" class="item-cart-image" alt="<%= item.name %>-image">
          <%= item.name %>
          <em><%= @cart.merchant(item.id).name %></em>

          <span class="price">
            <%= number_to_currency(item.price * @cart.quantity(item.id)) %>
          </span>
        </div>

      <% end %>
    </ul>

  <% end %>

  <div id="cart-total">Total: <%= number_to_currency(@cart.total_price) %> </div>
  <%= link_to "Empty Cart", carts_path, method: :delete, id: "empty-cart-link" %>
</div>
