<h1><u>Items for Sale</u></h1>

<div class="card-deck" id="items-list">

  <% @items.each do |item| %>
  <div class="item-card" id="item-<%=item.id%>-card">
    <div class="item-name"> <%= item.name %> </div>
    <img src="<%= item.img_url %> " class="item-thumbnail" alt=" <%= item.name %> image">
    <div class="item-merchant-name"> <%= item.user.name %> </div>
    <div class="item-count"> <%= item.inventory_count %> </div>
    <div class="item-price"> <%= item.price %> </div>
    <div class="item-description"> <%= item.description %> </div>
  </div>
  <% end %>

</div>
