<h1> Current Users </h1>
<table id="users-table">
  <tr>
    <th>name</th>
    <th>role</th>
    <th>status</th>
    <th>update</th>
  </tr>

  <% @users.each do |user| %>

    <tr>
      <td><%= link_to user.name, admin_user_path(user), id: "user-name" %></td>
      <td><%= user.role %></td>
      <% if user.status == 'active'%>
        <td id="enable-link"><%= user.status %></td>
        <td id="user-#{user.id}" ><%= link_to 'Disable', admin_user_path(user, status: 'disabled'), method: :put, class: "status-link", id: "disable-link"%>
        </td>
      <% else %>
        <td id="disable-link"><%= user.status %></td>
        <td id="user-#{user.id}" >
          <%= link_to 'Enable', admin_user_path(user, status: 'active'), method: :put, class: "status-link", id: "enable-link" %>
        </td>
      <% end %>
    </tr>
  <% end %>

</table>
