<h1> <%= @user.name %> </h1>
<ul>
  <li> <%= @user.role %> </li>
  <li>Status: <%= @user.status %> </li>
  <li>Email: <%= @user.email %> </li>
  <li>Address: <%= @user.address %> </li>
  <li>City: <%= @user.city %> </li>
  <li>State: <%= @user.state %> </li>
  <li>Zip Code: <%= @user.zip_code %> </li>
  <li>Created On: <%= @user.created_at %> </li>
  <li>Last Updated: <%= @user.updated_at %> </li>
</ul>

<%= link_to 'View User Orders', admin_user_orders_path(@user) %>
<%= link_to 'Edit Info', edit_user_path(@user) %>
