<% @num_items = 3 %>
<header>
  <div class="page-header">
    <section class="hamburger-menu">
      <input id="toggle" type="checkbox">
      <label class="toggle-container" for="toggle">
        <div id="hamburger" class="hamburger-icon">
          <div id="top-bar" class="bar"> </div>
          <div id="mid-bar" class="bar"> </div>
          <div id="bottom-bar" class="bar"> </div>
        </div>
      </label>
      <nav class="side-nav">
        <% if !current_user.nil? %>
          <h3 class="welcome-user">Welcome <%= current_user.name %></h3>
        <% else %>
          <h3 class="welcome-user">Welcome</h3>
        <% end %>
        <%= link_to "Home", root_path, class: "link", id: "welcome-link" %>
        <%= link_to "Merchants", merchants_path, class: "link", id: "browse-merchants-link" %>
        <%= link_to "All Items", items_path, class: "link", id: "browse-items-link" %>
        <% if current_admin? && !current_user.nil?%>
        <%= link_to "All Users", admin_users_path, class: "link", id: "all-users-link" %>
        <% end %>
      </nav>
    </section>
    <h1 class="welcome-header">Little Shop</h1>
    <input class="item-nav-search" type="text">
    <input class="nav-search-button" type="button">
    <span class="user-links">
      <% if current_user.nil? %>
        <%= link_to "Log In", login_path, class: "link login-link" %>
        <%= link_to "Register", new_user_path, class: "link register-link" %>
      <% else %>
        <%= link_to "My Profile", profile_path, class: "link profile-link" %>
        <%= link_to "Log Out", logout_path, method: :delete, class: "link", id: "logout-link" %>
      <% end %>
    </span>
    <a class="link view-cart-link" href="/cart">
      <p class="cart-count"><%= @cart.count_all %></p>
      <span>Cart</span>
    </a>
  </div>
  <nav class="lower-nav">
    <% if !current_user.nil? %>
      <p class="logged-in-as">
        Logged-in as: <span class="user-name"><%= current_user.name %></span>
      </p>
      <% if current_merchant? %>
        <%= link_to "Merchant Dashboard", dashboard_path(current_user), class: "link", id:"merchant-dashboard-link" %>
      <% elsif current_admin? %>
        <%= link_to "Admin Dashboard", dashboard_path(current_user, admin_page: 'true'), class: "link", id: "admin-dashboard-link" %>
      <% end %>
      <% if current_user.orders.count > 0 %>
        <%= link_to "My Orders", profile_orders_path, class: "link", id: "orders-link" %>
      <% end %>
    <% end %>
  </nav>
</header>
