<% @num_items = 3 %>
<ul class="container">
   <li><%= link_to "Return to Welcome Page", root_path, class: "link", id:"welcome_link" %></li>
   <li><%= link_to "Browse Items", items_path, class: "link", id: "browse_items_link" %></li>
   <li><%= link_to "See Merchants", class: "link", id: "browse_merchants_link" %></li>
   <li><%= link_to "View Cart: '#{@num_items} items'", class: "link", id: "view-cart-link" %></li>

 <% if current_user %>
   <li><%= link_to "My Profile", "/profile", class:"link", id: "profile_link" %></li>
   <li><%= link_to "My Orders", class: "link", id:"orders_link" %></li>
   <li><%= link_to "Log Out", logout_path, class:"link", id: "logout_link" %></li>
 <% else %>
   <%# show merchant links %>
   <%# show admin links %>
   <% if current_merchant? %>
   <li><%= link_to "Merchant Dashboard", class: "link", id: "merchant_dashboard_link" %></li>
   <% end %>

   <% if current_admin? %>
   <li><%= link_to "Admin Dashboard", class: "link", id: "admin_dashboard_link" %></li>
   <li><%= link_to "View All Users", class: "link", id: "all_users_link" %></li>
   <% end %>
   <li><%= link_to "Log In", login_path, class:"link", id: "login_link" %></li>
   <li><%= link_to "Register", new_user_path, class: "link", id: "register_link" %></li>

 <% end %>

</ul>
