<% @num_items = 3 %>
<div id="nav-bar">
  <ul>
    <li><%= link_to "Return to Welcome Page", root_path, class: "link", id: "welcome-link" %></li>
    <li><%= link_to "Browse All Items", items_path, class: "link", id: "browse-items-link" %></li>
    <li><%= link_to "See Merchants", class: "link", id: "browse-merchants-link" %></li>
    <li><%= link_to "View Cart", cart_path, class: "link", id: "view-cart-link" %></li>

    <li id="num-items">Cart:(<%= @num_items %> items)</li>
  <% if current_user.nil? %>
    <li><%= link_to "Log In", login_path, class: "link", id: "login-link" %></li>
    <li><%= link_to "Register", new_user_path, class: "link", id: "register-link" %></li>
  </ul>
  <% else %>

    <li><%= link_to "My Profile", profile_path, class: "link", id: "profile-link" %></li>

    <% if current_user.orders.count > 0 %>
        <li><%= link_to "My Orders", orders_path, class: "link", id: "orders-link" %></li>
    <% end %>

    <li><%= link_to "Log Out", logout_path, method: :delete, class: "link", id: "logout-link" %></li>
    <% if current_merchant?%>
      <li><%= link_to "Merchant Dashboard", class: "link", id:"merchant-dashboard-link" %></li>
    <% elsif current_admin? %>
      <li><%= link_to "Admin Dashboard", class: "link", id: "admin-dashboard-link" %></li>
      <li><%= link_to "View All Users", class: "link", id: "all-users-link" %></li>
    </div>
    <% end %>

  <% end %>
</ul>
<% if !current_user.nil? %>
<div id="logged-in-as">
  Logged-in as: <%= current_user.name %>
</div>
<% end %>
</div>
