<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="http://example.com/favicon.png">
    <title>LittleShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag "application" %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Muli|Lobster+Two&display=swap' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <%= render partial: 'layouts/navbar'  %>
    <main>
      <% flash.each do |name, value| %>
        <div class="flash"> <%= value %> </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
